.filter-container {
  position: fixed;
  width: 250px !important;
  top: 25%;
  text-align: center;
  justify-content: center;
}

.separator-line {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px !important;
}

.btn-reset,
.btn-kriteria,
.btn-kondisi {
  font-weight: bold !important;
}

.keterangan-txt {
  color: red;
  font-size: 13px;
  font-family: sans-serif;
}
