.modal-footer {
  display: block !important;
  text-align: center !important;
  border-top: 0px !important;
  padding: 35px;
  margin-top: 10px;
  margin-bottom: 15px;
  position: relative;
}

.modal-header {
  display: block !important;
  text-align: center;
}

.modal-content {
  border-radius: 3.3rem !important;
}

.dropdown-rem,
.dropdown-bahanbakar,
.dropdown-airbag,
.dropdown-gps,
.dropdown-smartkey,
.dropdown-ps {
  width: 60% !important;
  margin: 11px !important;
}

.checkbox-group {
  margin-top: 20px;
}

.tooltip {
  background-color: rgba(0, 0, 0, 0.87);
  max-width: 220px;
  font-size: 15px;
  border: 1px solid #dadde9;
}

.col-checkbox {
  text-align: right;
}

.desc-txt {
  font-size: 20px;
}

.note-txt {
  font-size: 13px;
  color: red;
}
