.fixed {
  position: sticky !important;
  top: 0px;
  left: 0px;
  bottom: 0px;
}

.menu-bar {
  background-color: #e6e6e6 !important;
  font-weight: bold;
  overflow: hidden;
  position: sticky !important;
  top: 0px;
}

.nav-carimobil {
  color: rgba(192, 16, 16, 0.993) !important;
}
